body {
  background-color: #f8f9fa; /* A light grey background */
}
.navbar-custom {
  background-color: white; /* White navbar background */
}
.navbar-brand img {
  height: 40px; /* Adjust size as necessary */
}
.image-container img {
  width: 100%;
  height: 400px; /* Adjusted height - you can modify this value based on your needs */
  object-fit: cover; /* Ensures the image covers the area, cropping it as necessary without distorting */
}
.fire {
  width: 100%;
  height: 400px; /* Adjusted height - you can modify this value based on your needs */
  object-fit: cover; /* Ensures the image covers the area, cropping it as necessary without distorting */
}
.img-fit {
width: 100%; /* Full width of the card */
height: 200px; /* Fixed height for all images */
object-fit: cover; /* Covers the area, cropping as needed without distorting aspect ratios */
}